//colos
$colors:(
    "primary":#22BBFF,
    "info":#4b6caf,
    "black":#000,
    "dark":#222,
    "dark-1":#343440,
    "grey-1":#666,
    "grey":#999,
    "light":#f9f9f9,
    "light-1":#d4d9de,
    "white":#fff,
);
//border
$border-color:map-get($colors,"light-1");

//font-size
$base-font-size: 1rem;
$font-size: (
    "xxs":0.6154,
    "xs": 0.7692,//10px
    "sm": 0.9231,//12px
    "md": 1,//13px
    "lg": 1.0769,//14px
    "xl": 1.2308//16px
    );
    //主轴对齐方式，x轴
$flex-jc:(
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
);
//交叉轴对齐方式，y轴
$flex-ai:(
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    stretch: stretch
);
//spacing
$spacing-type:(m:margin,p:padding);
$spacing-diretions:(t:top,r:right,b:bottom,l:left);
$spacing-base-size:1rem;
$spacing-size:(
    0:0,
    1:0.25,
    2:0.5,
    3:1,
    4:1.5,
    5:3
);